name: Deploy Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Compose redeploy
        run: |
          cd 
          docker compose down
          docker compose build --no-cache
          docker compose up -d
